/* ADD EDIT MODAL  */
.addEditModal .add {
    color: white;
    background-color: #1677ff;
    font-size: 16px;
    padding: 8px 15px;
    line-height: 25px;
    height: fit-content;
    border: 2px solid #1677ff;
}

.addEditModal .add:hover {
    background-color: #4994fd;
    color: white;
}

.ant-modal .ant-modal-content {
    padding: 30px;
}

.ant-modal .ant-modal-content .ant-modal-title {
    font-size: 25px;
    margin-bottom: 20px;
}

.ant-modal .ant-modal-content .ant-modal-body .addEditBtn {
    color: #20c997;
    border: 1px solid #20c997;
}

.ant-modal .ant-modal-content .ant-modal-body .addEditBtn:hover {
    color: white;
    background-color: #20c997;
}

.userID,
.userRole {
    display: none;
}