/* FILTER BAR */
@media screen and (max-width: 768px) {

    .filterCategory {
        display: none;
    }
}

/* START TITLE */
#filterBar .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 150%;
}

/* END TITLE */

/* START PRE-TITLE */
#filterBar .pre-title p {
    color: #74767e;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

#filterBar .pre-title .sortBar p {
    color: #74767e;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

#filterBar .pre-title .sortBar select {
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #222325;
    font-size: 16px;
    font-weight: 600;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
}

/* END PRE-TITLE */

/* START FILTER CATEGORY */
#filterBar .dropbox .ant-btn {
    align-items: center;
    color: #222325;
    font-size: 16px;
    font-weight: 550;
    height: fit-content;
    transition: .3s;
}

#filterBar .ant-btn-default:not(:disabled):hover {
    color: #20c997;
    border-color: #198754;

}

.ant-dropdown .ant-dropdown-menu {
    padding: 18px 10px;
    min-width: 220px;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    color: #404145;
    font-size: 14px;
    font-weight: 600;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item .number {
    color: #b5b6ba;
    font-weight: 400;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected:hover,
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover {
    background-color: transparent;
    color: #1dbf73;
}

.ant-switch.ant-switch-checked,
.ant-switch:hover:not(.ant-switch-disabled) {
    background: #198754;
}

.ant-switch,
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #ccc;
}

#filterBar .switchBtn span {
    color: #62646a;
    font-size: 16px;
    font-weight: 600;
}

/* END FILTER CATEGORY */