/* HEADER */
@media (max-width: 768px) {
    .search__service {
        background: transparent;
        display: flex;
    }

    .search__input {
        margin-left: 0;
    }

    .search__service-active {
        order: 2;
        flex-basis: 100%;
        position: fixed;
        display: flex;
        top: 80px;
        left: 0px;
        padding: 20px 10px;
        z-index: 999;
        width: 100%;
        background: #ffffff;
        border-bottom: 1px solid #e4e5e7;
    }

    .categoriesMenu {
        display: none !important;
    }
}

@media (max-width : 992px) {
    .nav__link {
        font-size: 25px !important;
        color: #62646a !important;
    }
}


@media(min-width : 992px) {
    .header span.nav__link {
        font-weight: bold !important;
        font-size: 15px !important;
        color: #74767E !important;
    }

    .header__active span.nav__link {
        font-weight: bold !important;
        font-size: 15px;
        color: white !important;
    }

    .header__active a.nav__link,
    .header__active button.nav__link {
        font-weight: bold !important;
        font-size: 15px;
        color: white !important;
    }

    .header__active .user__info {
        color: white;
    }

    a.nav__link,
    button.nav__link {
        font-weight: bold !important;
        font-size: 15px !important;
        color: #74767E !important;
    }
}

/* *Khu vực xử lý animation header */

.header {
    background: #ffffff;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    transition: all .3s ease;
    border-bottom: 1px solid #e4e5e7;
}

.header__active {
    background: transparent;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
    transition: all .5s ease;
    border: none;
}

.search__service {
    display: flex;
}

.search__service .btn-success {
    background-color: #198754;
}

.header__active .search__service {
    display: none;
    transition: all .5s ease;
}

.categoriesMenu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 999;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    background: #ffffff;
    padding: 5px 0px;
    border-bottom: 1px solid #e4e5e7;
}

.categoriesMenu-active {
    background: transparent;
    display: none;
    transition: all .5s ease;
}

.header .nav__brand {
    color: black !important;
    font-size: 30px !important;
    font-weight: bold;
}

.header__active .nav__brand {
    color: white !important;
}

/* .search-mobie__service {
    display: none;
    background: transparent;
    transition: all .5s ease;
}

.search-mobie__service-active {
    display: flex;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    z-index: 999;
    background: #ffffff;
} */





/* * Kết thúc xử lý animation header */


.menu__dropdown {
    text-decoration: none;
    position: relative;
    color: #62646a;
    transition: all .3s linear;
}

.menu__dropdown::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background-color: #1DBF73;
    transition: all .3s;
}

.menu-item__dropdown {
    color: #62646a;
    text-decoration: none;
    transition: all .3s linear;
}

.menu__dropdown:hover,
a.menu-item__dropdown:hover {
    color: #1DBF73 !important;
}

.menu__dropdown:hover::after {
    width: 100%;
}