/* MARKETPLACE */
#marketplace h2 {
    color: rgba(0, 0, 0, .85);
    font-weight: 500;
    line-height: 1.2;
}

#marketplace img {
    height: 48px;
    width: 48px;
}

#marketplace span {
    color: #222325;
    font-weight: 300;
    position: relative;
    margin-top: 20px;
}

#marketplace span::before {
    content: "";
    width: 48px;
    height: 2px;
    border-top: 2px solid #c5c6c9;
    padding: 0 0 8px;
    position: absolute;
    right: 50%;
    top: -10px;
    transform: translateX(50%);
    transition: .2s;
}

#marketplace a:hover {
    color: #222325;
    text-decoration: none;
}

#marketplace a:hover span::before {
    border-top-color: #1dbf73;
    width: 60%;
}