.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
  color: #74767e;
}

@media(max-width : 640px) {
  .profile__left {
    margin-top: 20px;
    width: 100%;
  }
  .login__left {
    width: 100%;
  }

  .profile__right {
    display: none;
  }
  .login__right {
    width: 100%;
  }
  .register__left {
    width: 100%;
  }
  .register__right {
    width: 100%;
  }
}

@media(min-width : 640px) {
  .profile__left {
    width: 35%;
  }
 .login__left {
  width: 50%;
 }

  .profile__right {
    width: 65%;
  }
  .login__right {
    width: 50%;
  }
  .register__left {
    width: 40%;
  }
  .register__right {
    width: 40%;
  }
}